<footer class="row">
        <script type="text/javascript" src="http://www.cdnjs.net/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
       <link rel="stylesheet" href="http://www.cdnjs.net/ajax/libs/??fancybox/2.1.5/jquery.fancybox.min.css,fancybox/2.1.5/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
                   <script async="async">
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f7c49912294fbaec239f9a59afc64e75";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript" async="async">
var duoshuoQuery = {short_name:"tanyuliang"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

<script type="text/javascript" async="async">
    var wumiiPermaLink = "{{ site.url }}{{ page.url }}"; //请用代码生成文章永久的链接
    var wumiiTitle = "{{ page.title }}"; //请用代码生成文章标题
    var wumiiTags = "{{ page.tags }}"; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
    var wumiiCategories = ["{{ page.categories }}"]; //请用代码生成文章分类，分类名放在 JSONArray 中，如: ["分类1", "分类2"]
    var wumiiSitePrefix = "{{ site.url }}";
    var wumiiParams = "&num=5&mode=3&pf=JAVASCRIPT";
</script>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" async="async">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://static.bshare.cn/b/buttonLite.js#uuid=e0c92d27-d5ee-4d5c-8b5c-e965a4faa7c7&style=5&fs=3&bgcolor=LightBlue"></script>
<!-- JiaThis Button END -->

<script type="text/javascript">
　　　　$LAB
				.script("http://www.baidu.com/olime/bdime_open.js").wait()
               .script("http://www.cdnjs.net/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.js").wait()
					.script("http://www.cdnjs.net/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js")
					.wait(
					$("img").lazyload({threshold : 200 });
					);
               .script("http://widget.wumii.cn/ext/relatedItemsWidget").wait()
</script> 


       <script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
        </script>
       <script type="text/javascript">
       $(document).ready(function() {
	$(".fancybox-thumb").fancybox({
		prevEffect	: 'none',
		nextEffect	: 'none',
		helpers	: {
			title	: {
				type: 'outside'
			},
			thumbs	: {
				width	: 50,
				height	: 50
			}
		}
	});
});
     </script>

      <div class="col-ms-12 text-center">
            <hr/>
                        {% if site.footersvg == 'true' %}
                  <div>{% include svg-icons.html %}</div>
            {% endif %}
            &copy; {{ site.time | date: '%Y' }} - {{site.author}}. All rights reserved<br/>
            本站使用 
            {% if page.theme And page.theme != "" And page.theme != nil %}
            <a class="{{page.theme}}-link" href="http://jekyllcn.com/">Jekyll CN</a>
            {% else %}
            <a href="http://jekyllcn.com/">Jekyll CN</a>
            {% endif %}
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2206645368&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2206645368:51" alt="我是站长,如果你有什么好的建议,请跟我联系" title="我是站长,如果你有什么好的建议,请跟我联系"/></a>       

<SCRIPT LANGUAGE="JavaScript" async="async"> 
window.onload = function() 
{ 
document.getElementById("TimeShow").innerHTML = "加载本页耗时 "+ (new Date().getTime()-t1) +" 毫秒"; 
} 
</SCRIPT> 
<div id="TimeShow"></div>
      </div>
</footer>