---
layout: master
---

<div class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-md-2 col-sm-3 blue sidebar">
      {% include sidemenu.html %}
    </div> <!-- Side column -->
    <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3">
      <article class="col-md-12 col-xs-12 justified">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="publish-tag">
          <span class="fa fa-calendar"></span>&nbsp;撰写于 {{ page.date | date: "%B %d, %Y" }}
        </div>
        {{ content }}
        <br/>
         <script type="text/javascript" id="wumiiRelatedItems"></script>

        <span class="fa fa-tag"></span>标签:
        {% if page.tags %}
          {% for tag in page.tags %}		
            <a href="/tags/{{tag}}"><span class="label label-primary">{{tag}}</span></a>
          {% endfor %}
        {% else %}  
          None
        {% endif %}
        <br/><br/>
        <h4>评论:</h4>
      <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
    <!-- 多说评论框 end -->

      </article> 
      
      <div class="row">
        <div class="col-sm-6 col-xs-6 text-left">
       	{% if page.previous.url %}
        	<a class="btn btn-blue" href="{{page.previous.url}}">← 上一篇</a>
        {% else %}
        	<span class="btn btn-blue disabled">← 上一篇</span>
        {% endif %}
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
        {% if page.next.url %}
        	<a class="btn btn-blue" href="{{page.next.url}}">下一篇 →</a>
        {% else %}
        	<span class="btn btn-blue disabled">下一篇 →</span>
        {% endif %} 
        </div>
      </div>
      
      {% include footer.html %}  
    </div> <!-- content area column -->
  </div> <!-- row  -->
</div> <!-- container -->